In [15]:
a = "I am a student     "
a.split(" ")

['I', 'am', 'a', 'student', '', '', '', '', '']

In [16]:
b = "of IIITG"
a.join(b)

'oI am a student     fI am a student      I am a student     II am a student     II am a student     II am a student     TI am a student     G'

In [17]:
a.strip()

'I am a student'

In [18]:
print(a.replace("student","Student"))

I am a Student

In [19]:
a.find('am',2,3)

-1

In [20]:
a.index('student')

7

In [21]:
a.isalnum()

False

In [22]:
a.isalpha()

False

In [23]:
a.isdigit()

False

In [24]:
a.isspace()

False

In [26]:
str = "welcome to python"
str.find("To")

-1

In [27]:
str = "welcome to python"
str.find("to")

8

In [28]:
fruit1 = 'Apple'
fruit2 = 'Mango'
print("I have 2 fruits, one is {} and the other is {}".format(fruit1,fruit2))

I have 2 fruits, one is Apple and the other is Mango

In [29]:
fruit1 = 'Apple'
fruit2 = 'Mango'
print("I have 2 fruits, one is {} and the other is {}".format(fruit2,fruit1))

I have 2 fruits, one is Mango and the other is Apple

In [30]:
num = 2
print("I have {} fruits".format(num))

I have 2 fruits

In [32]:
num1 = int(input("Enter first no."))
num2 = int(input("Enter second no."))
num3 = num1 + num2
print(num3)

Enter first no.4
Enter second no.5
9

In [33]:
str = "I'm a student"
print("I'm a student")
print('I\'m a student')

I'm a student
I'm a student

In [34]:
len(str)

13

In [35]:
type(str)

str

In [36]:
str[0]

'I'

In [37]:
str[-3]

'e'

In [41]:
str[2:11]

'm a stude'

In [42]:
str[:]

"I'm a student"

In [44]:
str[:4]

"I'm "

In [45]:
str[: : 2]

'Imasuet'

In [46]:
str[: : 3]

'I sdt'

In [47]:
str1 = 'a'
str2 = 'b'
str3 = str1 + str2
print(str3)

ab

In [51]:
first_name= 'Arundhati'
last_name = 'Sarkar'
print(first_name,end=' '+last_name)

Arundhati Sarkar

In [52]:
first_name= 'Arundhati'
last_name = 'Sarkar'
print(first_name+" "+last_name)

Arundhati Sarkar

In [53]:
string = "Tree"
'F' + string[1:]

'Free'

In [54]:
string = "Arundhati Sarkar"
string[:10] + "Roy"

'Arundhati Roy'

In [55]:
x = "Python"
x.startswith('P')

True

In [56]:
x = "Python"
x.endswith('thon')

True

In [62]:
y = "helloworld"
y.capitalize()

'Helloworld'

In [71]:
str1 = "Welcome to python"
if(str1.find("to")>=0):
    print("The substring is present")
else:
    print("The substring is not present")

The substring is present

In [68]:
str1 = "Welcome to python"
if 'to' in str1:
    print("The substring is present")
else:
    print("The substring is not present")

The substring is present

In [69]:
str1 = "Welcome to python"
str2 = 'to'
if str2 in str1:
    print("The substring is present")
else:
    print("The substring is not present")

The substring is present

In [73]:
list1 = [1,2,3,4,4.5,True,False,'Hello']
list1[3]

4

In [74]:
type(list1)

list

In [75]:
list1[:5]

[1, 2, 3, 4, 4.5]

In [76]:
list1[: : 2]

[1, 3, 4.5, False]

In [78]:
list1[5:-1]

[True, False]

In [79]:
list1[3] = 100
list1

[1, 2, 3, 100, 4.5, True, False, 'Hello']

In [80]:
list1.append('Rain')

In [81]:
list1

[1, 2, 3, 100, 4.5, True, False, 'Hello', 'Rain']

In [82]:
list1.insert(6,'Python')
list1

[1, 2, 3, 100, 4.5, True, 'Python', False, 'Hello', 'Rain']

In [83]:
list2 = [4,5,6]
list1.extend(list2)
list1

[1, 2, 3, 100, 4.5, True, 'Python', False, 'Hello', 'Rain', 4, 5, 6]

In [84]:
list3 = list1 + list2 
list3

[1, 2, 3, 100, 4.5, True, 'Python', False, 'Hello', 'Rain', 4, 5, 6, 4, 5, 6]

In [85]:
list3.pop(10)

4

In [86]:
list3.pop(12)

4

In [87]:
list3

[1, 2, 3, 100, 4.5, True, 'Python', False, 'Hello', 'Rain', 5, 6, 5, 6]

In [90]:
l = [[1,2,3],[4,5,6],[7,8,9]]
l[0][0]

1

In [91]:
l[0][2]

3

In [92]:
l[1][1]

5

In [93]:
l[2][-1]

9

In [107]:
list1 = [10,20,[30,40,[50,60],80],90,100]

type(list1)
list1[2][2].append(70)
list1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [108]:
l2 = [1,2,[3,4,5,6],9]
l3 = [7,8]
l2[2].extend(l3)
l2

[1, 2, [3, 4, 5, 6, 7, 8], 9]