# Dictionaries
- written with curly braces
can store different data types
order doesn't matter
keys should be unique
Mutable

In [30]:
dict1 = {
    "brand" : "Bajaj",
    "model" : "Pulsar",
    "year" : "2015",
    "cost" : 85000
}
dict1

{'brand': 'Bajaj', 'model': 'Pulsar', 'year': '2015', 'cost': 85000}

In [31]:
len(dict1)

4

In [32]:
type(dict1)

dict

# accessing items

In [33]:
dict1['brand']

'Bajaj'

In [35]:
dict1['model']

'Pulsar'

In [36]:
dict1.get('year')

'2015'

# update

In [37]:
dict1['year'] = 2018
dict1

{'brand': 'Bajaj', 'model': 'Pulsar', 'year': 2018, 'cost': 85000}

In [38]:
#keys()
dict1.keys()

dict_keys(['brand', 'model', 'year', 'cost'])

In [39]:
#values()
dict1.values()

dict_values(['Bajaj', 'Pulsar', 2018, 85000])

In [40]:
#items()
dict1.items()

dict_items([('brand', 'Bajaj'), ('model', 'Pulsar'), ('year', 2018), ('cost', 85000)])

In [41]:
#adding items
dict1['color'] = 'black'
dict1['tyretype'] = 'tubeless'
dict1

{'brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless'}

In [42]:
#remove items
rem = dict1.pop('model')
print('Removed value = ',rem)

Removed value =  Pulsar

In [43]:
dict1

{'brand': 'Bajaj',
 'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless'}

In [44]:
dict1['model'] = 'Pulsar'
dict1

{'brand': 'Bajaj',
 'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar'}

In [2]:
del dict1['brand']

NameError: name 'dict1' is not defined

In [46]:
dict1

{'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar'}

In [47]:
dict1['brand'] = 'Bajaj'
dict1

{'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar',
 'brand': 'Bajaj'}

In [48]:
#copy
dict_copy = dict1.copy()
dict_copy

{'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar',
 'brand': 'Bajaj'}

In [49]:
#mutable
dict1['year'] = 2015
dict_copy

{'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar',
 'brand': 'Bajaj'}

In [50]:
dict1

{'year': 2015,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar',
 'brand': 'Bajaj'}

In [52]:
#nested dictionary
child1 = {
    'name': 'John',
    'year': '1995' 
}

child2 = {
    'name': 'Sammy',
    'year': '2001'
}

myfamily = {
    'child1':'child1',
    'child2': 'child2'
}
myfamily

{'child1': 'child1', 'child2': 'child2'}

In [53]:
myfamily = {
    'child1': {
        'name': 'John',
        'year': '1995',
        'hobbies': ['Music','Cricket','TV']
    },
    'child2': {
        'name': 'Sammy',
        'year':'2001'
    }
}
myfamily

{'child1': {'name': 'John',
  'year': '1995',
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'Sammy', 'year': '2001'}}

In [55]:
myfamily['child1']['name']

'John'

In [56]:
myfamily['child1']['year']

'1995'

In [58]:
myfamily['child1']['hobbies'][1]

'Cricket'

Operators
- Arithmetic operators
- Assignment operators
- Comparision operators
- Logical operators

In [3]:
# Arithmetic
x = 20
y = 30
x+y

50

In [4]:
x = 50
y = 30
x-y

20

In [5]:
x = 2
y = 3
x*y

6

In [6]:
x = 30
y = 10
x/y

3.0

In [7]:
x = 30
y = 10
x%y

0

In [8]:
#assignment 
x = 5

In [9]:
x += 2

In [10]:
x -= 4

In [11]:
x *= 2

In [12]:
x /= 5

In [ ]:
#comparision
x = 5
y = 10
x == y
x != y
x > y
x < y
x >= y
x <= y

In [14]:
#logical
x = True
y = False
print(x&y)
print(x|y)

False
True