# Task dictionary
create a dictionary and do the following:
 1. access Mike
 2. access 80
 3. change Mike to Your_name
 4. add ML = 80 and DL = 80 inside marks

In [59]:
dict1 = {
    'april_batch': {
        'student': {
            'name': 'Mike',
            'marks': {
                'python': 80,
                'maths': 70
            }
        }
    }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [60]:
#1 
dict1['april_batch']['student']['name']

'Mike'

In [62]:
#2
dict1['april_batch']['student']['marks']['python']

80

In [63]:
#3
dict1['april_batch']['student']['name'] = 'Arundhati'
dict1

{'april_batch': {'student': {'name': 'Arundhati',
   'marks': {'python': 80, 'maths': 70}}}}

In [64]:
#4
dict1['april_batch']['student']['marks']['ML'] = 80
dict1['april_batch']['student']['marks']['DL'] = 80
dict1

{'april_batch': {'student': {'name': 'Arundhati',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}