In [15]:
a = "I am a student     "
a.split(" ")

['I', 'am', 'a', 'student', '', '', '', '', '']

In [16]:
b = "of IIITG"
a.join(b)

'oI am a student     fI am a student      I am a student     II am a student     II am a student     II am a student     TI am a student     G'

In [17]:
a.strip()

'I am a student'

In [18]:
print(a.replace("student","Student"))

I am a Student

In [19]:
a.find('am',2,3)

-1

In [20]:
a.index('student')

7

In [21]:
a.isalnum()

False

In [22]:
a.isalpha()

False

In [23]:
a.isdigit()

False

In [24]:
a.isspace()

False

In [26]:
str = "welcome to python"
str.find("To")

-1

In [27]:
str = "welcome to python"
str.find("to")

8

In [28]:
fruit1 = 'Apple'
fruit2 = 'Mango'
print("I have 2 fruits, one is {} and the other is {}".format(fruit1,fruit2))

I have 2 fruits, one is Apple and the other is Mango

In [29]:
fruit1 = 'Apple'
fruit2 = 'Mango'
print("I have 2 fruits, one is {} and the other is {}".format(fruit2,fruit1))

I have 2 fruits, one is Mango and the other is Apple

In [30]:
num = 2
print("I have {} fruits".format(num))

I have 2 fruits

In [32]:
num1 = int(input("Enter first no."))
num2 = int(input("Enter second no."))
num3 = num1 + num2
print(num3)

Enter first no.4
Enter second no.5
9

In [33]:
str = "I'm a student"
print("I'm a student")
print('I\'m a student')

I'm a student
I'm a student

In [34]:
len(str)

13

In [35]:
type(str)

str

In [36]:
str[0]

'I'

In [37]:
str[-3]

'e'

In [41]:
str[2:11]

'm a stude'

In [42]:
str[:]

"I'm a student"

In [44]:
str[:4]

"I'm "

In [45]:
str[: : 2]

'Imasuet'

In [46]:
str[: : 3]

'I sdt'

In [47]:
str1 = 'a'
str2 = 'b'
str3 = str1 + str2
print(str3)

ab

In [51]:
first_name= 'Arundhati'
last_name = 'Sarkar'
print(first_name,end=' '+last_name)

Arundhati Sarkar

In [52]:
first_name= 'Arundhati'
last_name = 'Sarkar'
print(first_name+" "+last_name)

Arundhati Sarkar

In [53]:
string = "Tree"
'F' + string[1:]

'Free'

In [54]:
string = "Arundhati Sarkar"
string[:10] + "Roy"

'Arundhati Roy'

In [55]:
x = "Python"
x.startswith('P')

True

In [56]:
x = "Python"
x.endswith('thon')

True

In [62]:
y = "helloworld"
y.capitalize()

'Helloworld'

In [71]:
str1 = "Welcome to python"
if(str1.find("to")>=0):
    print("The substring is present")
else:
    print("The substring is not present")

The substring is present

In [68]:
str1 = "Welcome to python"
if 'to' in str1:
    print("The substring is present")
else:
    print("The substring is not present")

The substring is present

In [69]:
str1 = "Welcome to python"
str2 = 'to'
if str2 in str1:
    print("The substring is present")
else:
    print("The substring is not present")

The substring is present

In [2]:
list1 = [1,2,3,4,4.5,True,False,'Hello']
list1[3]

4

In [3]:
type(list1)

list

In [4]:
list1[:5]

[1, 2, 3, 4, 4.5]

In [5]:
list1[: : 2]

[1, 3, 4.5, False]

In [6]:
list1[5:-1]

[True, False]

In [7]:
list1[3] = 100
list1

[1, 2, 3, 100, 4.5, True, False, 'Hello']

In [8]:
list1.append('Rain')

In [9]:
list1

[1, 2, 3, 100, 4.5, True, False, 'Hello', 'Rain']

In [10]:
list1.insert(6,'Python')
list1

[1, 2, 3, 100, 4.5, True, 'Python', False, 'Hello', 'Rain']

In [11]:
list2 = [4,5,6]
list1.extend(list2)
list1

[1, 2, 3, 100, 4.5, True, 'Python', False, 'Hello', 'Rain', 4, 5, 6]

In [12]:
list3 = list1 + list2 
list3

[1, 2, 3, 100, 4.5, True, 'Python', False, 'Hello', 'Rain', 4, 5, 6, 4, 5, 6]

In [13]:
list3.pop(10)

4

In [14]:
list3.pop(12)

4

In [18]:
list3.remove(True)

In [19]:
list3

[2, 3, 100, 4.5, 'Python', False, 'Hello', 'Rain', 5, 6, 5, 6]

In [20]:
list3.count(5) #frequency of elements

2

In [26]:
list4 = [3, 5, 22, 100, 5,66]
list4.sort()
list4

[3, 5, 5, 22, 66, 100]

In [27]:
list4.reverse()
list4

[100, 66, 22, 5, 5, 3]

In [29]:
list4.clear()
list4

[]

In [90]:
l = [[1,2,3],[4,5,6],[7,8,9]]
l[0][0]

1

In [91]:
l[0][2]

3

In [92]:
l[1][1]

5

In [93]:
l[2][-1]

9

In [107]:
list1 = [10,20,[30,40,[50,60],80],90,100]

type(list1)
list1[2][2].append(70)
list1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [108]:
l2 = [1,2,[3,4,5,6],9]
l3 = [7,8]
l2[2].extend(l3)
l2

[1, 2, [3, 4, 5, 6, 7, 8], 9]

# Dictionaries

In [30]:
dict1 = {
    "brand" : "Bajaj",
    "model" : "Pulsar",
    "year" : "2015",
    "cost" : 85000
}
dict1

{'brand': 'Bajaj', 'model': 'Pulsar', 'year': '2015', 'cost': 85000}

In [31]:
len(dict1)

4

In [32]:
type(dict1)

dict

# accessing items

In [33]:
dict1['brand']

'Bajaj'

In [35]:
dict1['model']

'Pulsar'

In [36]:
dict1.get('year')

'2015'

# update

In [37]:
dict1['year'] = 2018
dict1

{'brand': 'Bajaj', 'model': 'Pulsar', 'year': 2018, 'cost': 85000}

In [38]:
dict1.keys()

dict_keys(['brand', 'model', 'year', 'cost'])

In [39]:
dict1.values()

dict_values(['Bajaj', 'Pulsar', 2018, 85000])

In [40]:
dict1.items()

dict_items([('brand', 'Bajaj'), ('model', 'Pulsar'), ('year', 2018), ('cost', 85000)])

In [41]:
#adding items
dict1['color'] = 'black'
dict1['tyretype'] = 'tubeless'
dict1

{'brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless'}

In [42]:
#remove items
rem = dict1.pop('model')
print('Removed value = ',rem)

Removed value =  Pulsar

In [43]:
dict1

{'brand': 'Bajaj',
 'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless'}

In [44]:
dict1['model'] = 'Pulsar'
dict1

{'brand': 'Bajaj',
 'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar'}

In [45]:
del dict1['brand']

In [46]:
dict1

{'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar'}

In [47]:
dict1['brand'] = 'Bajaj'
dict1

{'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar',
 'brand': 'Bajaj'}

In [48]:
#copy
dict_copy = dict1.copy()
dict_copy

{'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar',
 'brand': 'Bajaj'}

In [49]:
dict1['year'] = 2015
dict_copy

{'year': 2018,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar',
 'brand': 'Bajaj'}

In [50]:
dict1

{'year': 2015,
 'cost': 85000,
 'color': 'black',
 'tyretype': 'tubeless',
 'model': 'Pulsar',
 'brand': 'Bajaj'}

In [52]:
#nested dictionary
child1 = {
    'name': 'John',
    'year': '1995' 
}

child2 = {
    'name': 'Sammy',
    'year': '2001'
}

myfamily = {
    'child1':'child1',
    'child2': 'child2'
}
myfamily

{'child1': 'child1', 'child2': 'child2'}

In [53]:
myfamily = {
    'child1': {
        'name': 'John',
        'year': '1995',
        'hobbies': ['Music','Cricket','TV']
    },
    'child2': {
        'name': 'Sammy',
        'year':'2001'
    }
}
myfamily

{'child1': {'name': 'John',
  'year': '1995',
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'Sammy', 'year': '2001'}}

In [55]:
myfamily['child1']['name']

'John'

In [56]:
myfamily['child1']['year']

'1995'

In [58]:
myfamily['child1']['hobbies'][1]

'Cricket'

# task
create a dictionary and do the following:
 1. access Mike
 2. access 80
 3. change Mike to Your_name
 4. add ML = 80 and DL = 80 inside marks

In [59]:
dict1 = {
    'april_batch': {
        'student': {
            'name': 'Mike',
            'marks': {
                'python': 80,
                'maths': 70
            }
        }
    }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [60]:
#1 
dict1['april_batch']['student']['name']

'Mike'

In [62]:
#2
dict1['april_batch']['student']['marks']['python']

80

In [63]:
#3
dict1['april_batch']['student']['name'] = 'Arundhati'
dict1

{'april_batch': {'student': {'name': 'Arundhati',
   'marks': {'python': 80, 'maths': 70}}}}

In [64]:
#4
dict1['april_batch']['student']['marks']['ML'] = 80
dict1['april_batch']['student']['marks']['DL'] = 80
dict1

{'april_batch': {'student': {'name': 'Arundhati',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}